# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
.pytest_cache/

# Node / JS
node_modules/
dist/
dist-ssr/
build/
npm-debug.log*

# Env files
.env
.env.*
!.env.example

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
